<div class="col-md-4 divs">
  <div>
    <%= label_tag 'country', 'Select country' %>
    <%= select_tag :country, options_for_select(@countries.map{ |country| [country.name, country.id] }), :include_blank => true, class: 'form-control' %>
  </div>

  <div class="states_div" style="display:none">
    <%= label_tag 'state', 'Select State' %>
  </div>
  
  <div class="cities_div" style="display:none">
    <%= label_tag 'city', 'Select City' %>
  </div>

</div>